<div class="container">
  <h1 class="text-center my-3">Your Courses</h1>
  <button class="btn btn-info mb-3" (click)="addCourse()">New Course</button>

  <div class="alert alert-success" role="alert" *ngIf="deleteMessage">
    {{ deleteMessage }}
  </div>

  <div class="card mb-3" *ngFor="let course of courses">
    <div class="card-body">
      <div class="row">
        <div class="col-md-10">
          <h5 class="card-title">
            <a href="{{ course.link }}">{{ course.name }}</a>
            <button
              class="btn bi bi-pencil-square"
              (click)="updateCourse(course.id)"
            ></button>
          </h5>
        </div>
        <div class="col-md-2">
          <div class="mask">
            <div class="d-flex justify-content-end align-items-end h-100">
              <h5>
                <span
                  class="badge ms-2"
                  [ngClass]="{
                    'text-bg-primary': course.status === 'In Progress',
                    'text-bg-success': course.status === 'Completed',
                    'text-bg-warning': course.status === 'Not Yet Started'
                  }"
                  >{{ course.status }}</span
                >
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="d-flex justify-content-start">
            <p
              class="card-text text-muted"
              *ngIf="
                course.status === 'In Progress' || course.status === 'Completed'
              "
            >
              Started on: {{ course.startedOn | date }}
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-end align-items-end">
            <p
              class="card-text text-muted"
              *ngIf="course.status === 'Completed'"
            >
              Completed on: {{ course.completedOn | date }}
            </p>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <button class="btn btn-success" style="float: left" (click)="viewProgress(course.id)" *ngIf="course.status === 'In Progress' || course.status === 'Completed'">View Progress</button>
        <button class="btn btn-info mx-3" style="float: left" (click)="addProgress(course.id)">Add Progress</button>
        <button
          (click)="deleteCourse(course.id)"
          class="btn btn-danger"
          style="float: right"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
